.center-content{
    text-align: center;
}
h2{
    text-align: left;
}
 h3{
    text-align: right;
}
section.right-content{
    text-align: right;
}
h4{
    text-align: center;
    
}
section.center-content{
    text-align: center;
}
section.center-content{
    text-align: center;
}
h1{
    text-align: center;
}
section.center-content{
    text-align: center;
}

h3{
    text-align: right;
}
    
 